/*
 * CONTENTS
 * 1. App & container styles
 * 2. SVG styles
 * 3. Button styles
 * 4. Footer
 *
 */

 /*
  * 1. App & container styles
  */

:root {
  /* Manually setting so rem works the same across browsersr */
  font-size: 16px;
}

.app {
  background: lightyellow;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  overflow: hidden;
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s ease-in-out;
  font-size: 2rem;
  opacity: 1;
  width: 100vw;
  text-align: center;
}
@media only screen and (max-width: 460px) {
  .hello {
    font-size: 1.5rem;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-flow: row nowrap;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  width: 80vw;
}
@media only screen and (max-width: 1075px) {
  .container {
    flex-flow: row wrap;
    align-items: center;
    max-height: 70vh;
  }
}
@media only screen and (max-width: 760px) {
  .container {
    flex-flow: column-reverse nowrap;
    max-height: 90vh;
  }
}
@media only screen and (max-width: 460px) {
  .container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    max-height: 100vh;
    width: auto;
    justify-content: space-between;
  }
}

.first-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@media only screen and (max-width: 460px) {
  .first-row {
    flex-flow: column-reverse nowrap;
  }
}

.content__box {
  opacity: 0;
  width: 40vw;
  height: 24rem;
  max-width: 0;
  transition: all .25s linear;
  box-sizing: border-box;
  font-size: 1rem;
  scrollbar-color: #808080 lightyellow;
  scrollbar-width: thin;
  display: flex;
}
.app--open .content__box {
  max-width: 40vw;
  padding: 0 1.5rem;
  margin: auto 1rem;
  flex-grow: 1;
}
@media only screen and (max-width: 1075px) {
  .content__box {
    display: block;
    margin: 0;
  }
  .app--open .content__box {
    max-width: 60vw;
    margin: 0;
    margin-left: -10%;
    padding-right: .5rem;
  }
}
@media only screen and (max-width: 760px) {
  .content__box {
    height: 40vh;
    max-height: 0;
    max-width: 100vw;
  }
  .app--open .content__box {
    max-width: 100vw;
    max-height: 40vh;
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 460px) {
  .app--open .content__box {
    max-height: 60vh;
    height: 60vh;
    width: auto;
    margin: auto;
    max-width: 100vw;
    padding-right: 1.5rem;
  }
}

/* Scrollbar styling for Chrome */
.content__box::-webkit-scrollbar {
  width: 0.25rem;
  background-color: lightyellow;
}
.content__box::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.frame {
  box-sizing: border-box;
  position: relative;
  line-height: 0;
}

.frame--portrait {
  transform: translateY(-300%);
  transition: all 2s linear;
  width: 24rem;
  height: 24rem;
}
.frame--portrait.frame--in {
  transform: none;
}
@media only screen and (max-width: 1075px) {
  .frame--portrait {
    transform: translateX(-300%) scale(.8);
    transform-origin: left;
    flex-shrink: 1;
  }
  .frame--portrait.frame--in {
    transform: scale(.8);
  }
}
@media only screen and (max-width: 760px) {
  .frame--portrait {
    transform: translateY(-100vh) scale(1);
  }
  .frame--portrait.frame--in {
    transform: scale(1);
  }
}
@media only screen and (max-width: 460px) {
  .frame--portrait {
    flex-grow: 0;
    transform-origin: bottom;
    width: 12rem;
    height: 12rem;
  }
}

.frame--email, .frame--phone {
  margin: 2rem auto;
}

.frame.button {
  width: 15rem;
  height: 8rem;
}
@media only screen and (max-width: 460px) {
  .frame.button {
    width: auto;
    height: 4rem;
  }
}

.buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1075px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 460px) {
  .buttons {
    margin-top: 40vh;
    margin-bottom: 10rem;
    transition: all 1s linear;
    flex-grow: 0;
  }
  .app--open .buttons {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}


/*
 * 2. SVG styles
 */

/* SVG sizing, based on legacy pixel sizes */
#svg--lucas {
  width: 12rem;
}
#svg--kim {
  width: 8rem;
}
#svg--sylvie {
  width: 4rem;
}
#svg--figgy {
  width: 3.5rem;
}
#svg--reg {
  width: 3.5rem;
}
#svg--desk {
  width: 16rem;
}
#svg--barbell {
  width: 13rem;
}
#svg--bookshelf {
  width: 7rem;
}
#svg--contact {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.svg--button {
  width: 14.5rem;
  height: 6.5rem;
}
@media only screen and (max-width: 460px) {
  #svg--lucas {
    width: 6rem;
  }
  #svg--kim {
    width: 4rem;
  }
  #svg--sylvie {
    width: 1rem;
  }
  #svg--figgy {
    width: 1.75rem;
  }
  #svg--reg {
    width: 1.75rem;
  }
  #svg--desk {
    width: 8rem;
  }
  #svg--barbell {
    width: 6.5rem;
  }
  #svg--bookshelf {
    width: 3.5rem;
  }
  .svg--button {
    width: 7rem;
    height: 3rem;
  }
}

.svg * {
  /* Move pointer events to top-level svg */
  pointer-events: none;
}

/* Colors! Classes used in SVGs to draw pixel art */
.pixel--brown {
  fill: #744720;
}
.pixel--light-brown {
  fill: #8d5524;
}
.pixel--stubble {
  fill: #c6915c;
}
.pixel--dark-brown {
  fill: #5b3a1c;
}
.pixel--darkest-brown {
  fill: #432c19;
}
.pixel--leather {
  fill: #5d4037;
}
.pixel--dark-leather {
  fill: #3e2723;
}
.pixel--skin {
  fill: #ffcd94;
}
.pixel--black {
  fill: #000;
}
.pixel--white {
  fill: #fff;
}
.pixel--blue {
  fill: #2196f3;
}
.pixel--red {
  fill: #f44336;
}
.pixel--dark-red {
  fill: #dd2c00;
}
.pixel--green {
  fill: #4caf50;
}
.pixel--dark-green {
  fill: #388e3c;
}
.pixel--gray {
  fill: #808080;
}
.pixel--shadow-gray {
  fill: #9e9e9e;
}
.pixel--denim {
  fill: #3f51b5;
}
.pixel--light-gray {
  fill:#c0c0c0;
}
.pixel--purple {
  fill: #9c27b0;
}
.pixel--gold {
  fill: #ffb300;
}
.pixel--yellow {
  fill: #ffe082;
}
.pixel--teal {
  fill: #008080;
}
.pixel--violet {
  fill: #800080;
}
.pixel--orange {
  fill: #ff5722;
}
.pixel--cream {
  fill: #ffd180;
}
.pixel--bookshelf-back {
  fill: #795548;
}
.pixel--button-text {
  fill: #3f51b5;
}
.pixel--button-bg {
  fill: #3f51b5;
  fill-opacity: 0;
}


/*
 * 3. Button styles
 */

.button {
  transition: all .5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.button:hover {
  cursor: pointer;
}

.button .pixel {
  transition: all .5s ease-in-out;
}

.button:hover .pixel--button-bg {
  fill: #3f51b5;
  fill-opacity: 1;
}

.button:hover .pixel--button-text {
  fill: #fff;
}


.button--selected .pixel--button-bg, .button--selected:hover .pixel--button-bg {
  fill: #808080;
  fill-opacity: 1;
}

.button--selected .pixel--button-text, .button--selected:hover .pixel--button-text {
  fill: #c0c0c0;
}

/*
 * 4. Footer
 */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s linear;
  font-size: 0.75rem;
  opacity: 0;
}
@media only screen and (max-width: 460px) {
  .footer {
    display: none;
    visibility: hidden;
  }
}

.footer__inner {
  display: inline-block;
  padding: 0 1rem;
}
.footer__inner--left {
  float: left;
}
.footer__inner--right {
  float: right;
}
