/*
 * CONTENTS
 * 1. App & container styles
 * 2. Pixel styles
 * 3. Button styles
 * 4. Footer
 *
 */

 /*
  * 1. App & container styles
  */

:root {
  /* Manually setting so rem works the same across browsersr */
  font-size: 16px;
}

.app {
  background: lightyellow;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s ease-in-out;
  font-size: 2rem;
  opacity: 1;
  width: 100vw;
  text-align: center;
}
@media only screen and (max-width: 460px) {
  .hello {
    font-size: 1.5rem;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-flow: row nowrap;
  min-height: 60vh;
  align-items: center;
}
@media only screen and (max-width: 1075px) {
  .container {
    flex-flow: row wrap;
    align-items: center;
    max-height: 70vh;
  }
}
@media only screen and (max-width: 760px) {
  .container {
    flex-flow: column-reverse nowrap;
    max-height: 90vh;
  }
}
@media only screen and (max-width: 460px) {
  .container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    max-height: 100vh;
    justify-content: flex-start;
    overflow-y: hidden;
  }
}

.content__box {
  opacity: 0;
  width: 40vw;
  height: 24rem;
  max-width: 0;
  transition: all .25s linear;
  box-sizing: border-box;
  font-size: 1rem;
  scrollbar-color: #808080 lightyellow;
  scrollbar-width: thin;
  display: flex;
  align-items: center;
}
.app--open .content__box {
  max-width: 40vw;
  padding: 0 1.5rem;
  margin: auto 1rem;
}
@media only screen and (max-width: 1075px) {
  .content__box {
    margin: 0;
    display: block;
  }
  .app--open .content__box {
    max-width: 50vw;
    margin: 0;
  }
}
@media only screen and (max-width: 760px) {
  .content__box {
    height: 40vh;
    max-height: 0;
    max-width: 100vw;
  }
  .app--open .content__box {
    max-width: 100vw;
    max-height: 40vh;
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 460px) {
  .app--open .content__box {
    max-height: 100vh;
    height: auto;
    flex-grow: 1;
  }
}

/* Scrollbar styling for Chrome */
.content__box::-webkit-scrollbar {
  width: 0.25rem;
  background-color: lightyellow;
}
.content__box::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.frame {
  box-sizing: border-box;
  position: relative;
  line-height: 0;
}

/* TEMP for fixing css without pixels */
.frame, .content__box {
  border: 1px solid black;
}

.frame--portrait {
  transform: translateY(-300%);
  transition: all 2s linear;
  width: 24rem;
  height: 24rem;
}
@media only screen and (max-width: 1075px) {
  .frame--portrait {
    transform: translateX(-300%);
  }
}
@media only screen and (max-width: 760px) {
  .frame--portrait {
    transform: translateY(-100vh);
  }
}
@media only screen and (max-width: 460px) {
  .frame--portrait {
    flex-grow: 0;
  }
}

.frame--email, .frame--phone {
  margin: 2rem auto;
}

.frame.button {
  width: 15rem;
  height: 8rem;
}

.buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 1075px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 460px) {
  .buttons {
    margin-top: 0.5rem;
    margin-bottom: 10rem;
    transition: all 1s linear;
    flex-grow: 0;
  }
  .app--open .buttons {
    margin-bottom: 0;
  }
}


/*
 * 2. Pixel styles
 */

.pixel {
  display: inline-block;
  box-sizing: border-box;
  pointer-events: none;
}

/* SVG sizing, based on legacy pixel sizes */
#svg--lucas {
  width: 12rem;
  height: 20rem;
}
#svg--kim {
  margin-top: 35vh;
  margin-left: 45vw;
  width: 8rem;
  height: 17.5rem;
}
.svg--button {
  width: 14.5rem;
  height: 6.5rem;
}

/* Colors! Classes used by JS to draw pixel art */
.pixel.brown {
  background: #744720;
}
.pixel--brown {
  fill: #744720;
}

.pixel.light-brown {
  background: #8d5524;
}
.pixel--light-brown {
  fill: #8d5524;
}

.pixel.stubble {
  background: #c6915c;
}
.pixel--stubble {
  fill: #c6915c;
}

.pixel.dark-brown {
  background: #5b3a1c;
}
.pixel--dark-brown {
  fill: #5b3a1c;
}

.pixel.darkest-brown {
  background: #432c19;
}
.pixel--darkest-brown {
  fill: #432c19;
}

.pixel.leather {
  background: #5d4037;
}
.pixel--leather {
  fill: #5d4037;
}

.pixel.dark-leather {
  background: #3e2723;
}
.pixel--dark-leather {
  fill: #3e2723;
}

.pixel.skin {
  background: #ffcd94;
}
.pixel--skin {
  fill: #ffcd94;
}

.pixel.black {
  background: #000;
}
.pixel--black {
  fill: #000;
}

.pixel.white {
  background: #fff;
}
.pixel--white {
  fill: #fff;
}

.pixel.blue {
  background: #2196f3;
}
.pixel--blue {
  fill: #2196f3;
}

.pixel.red {
  background: #f44336;
}
.pixel--red {
  fill: #f44336;
}

.pixel.dark-red {
  background: #dd2c00;
}

.pixel.green {
  background: #4caf50;
}

.pixel.dark-green {
  background: #388e3c;
}

.pixel.gray {
  background: #808080;
}
.pixel--gray {
  fill: #808080;
}

.pixel.shadow-gray {
  background: #9e9e9e;
}

.pixel.denim {
  background: #3f51b5;
}

.pixel.light-gray {
  background: #c0c0c0;
}

.pixel.purple {
  background: #9c27b0;
}
.pixel--purple {
  fill: #9c27b0;
}

.pixel.gold {
  background: #ffb300;
}

.pixel.yellow {
  background: #ffe082;
}

.pixel.teal {
  background: #008080;
}

.pixel.violet {
  background: #800080;
}

.pixel.orange {
  background: #ff5722;
}

.pixel.cream {
  background: #ffd180;
}

.pixel.bookshelf-back {
  background: #795548;
}

.pixel.button__text {
  background: #3f51b5;
}
.pixel--button-text {
  fill: #3f51b5;
}

.pixel--button-bg {
  fill: #3f51b5;
  fill-opacity: 0;
}


/*
 * 3. Button styles
 */

.button {
  transition: all .5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.button:hover {
  cursor: pointer;
}

.button .pixel {
  transition: all .5s ease-in-out;
}

.button:hover .pixel--button-bg {
  fill: #3f51b5;
  fill-opacity: 1;
}

.button:hover .pixel--button-text {
  fill: #fff;
}


.button--selected .pixel--button-bg, .button--selected:hover .pixel--button-bg {
  fill: #808080;
  fill-opacity: 1;
}

.button--selected .pixel--button-text, .button--selected:hover .pixel--button-text {
  fill: #c0c0c0;
}

/*
 * 4. Footer
 */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s linear;
  font-size: 0.75rem;
  opacity: 0;
}
@media only screen and (max-width: 460px) {
  .footer {
    display: none;
    visibility: hidden;
  }
}

.footer__inner {
  display: inline-block;
  padding: 0 1rem;
}
.footer__inner--left {
  float: left;
}
.footer__inner--right {
  float: right;
}
